

/* Nav */

.navbar{
    background-color: $tercerColor;
    background-image: linear-gradient(160deg, $segundoColor 0%, $cuartoColor 100%);
    border-bottom: solid 1px $quintoColor (0, 0, 0);
    opacity: 80%; 
    
    & a{
        color: $primerColor;     
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;             
    }    
}




